@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F0EF;
  --foreground: #171717;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  color: var(--foreground);
  min-height: 100vh;
}

h1 {
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Lora', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
