.container { width: 950px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-6 { width: 230px; }
.last { margin-right: 0; }
.span-18 { width: 710px; }

#top_module {
	height: 50px;
}

/* Joomla specific */
ul.menu {
	list-style: none;
	padding: 0;
}

ul.menu a {
	text-decoration: none;
}

/* custom */

#logo {
	text-align: center;
	margin-bottom: 50px;
}

pre {
	font-family: Monaco, Courier New;
	font-size: 9pt;
}

ul.pagination {
	display: block;
	clear: right;
}

ul.pagination li {
	float: left;
	display: block;
	width: 40px;
	list-style: none;
}